<section>
    <h2 data-bind="html:displayName"></h2>
    <blockquote data-bind="html:description"></blockquote>
    <div class="content">
    
    <h1>Main Menu</h1>
    
    <div class="row" style="margin:40px">
        <div class="span12">
            <div class="span2">
            <a href="#/game" class="btn large btn-primary" style="text-align: center;width:150px;"><h3>New Game</h3></a>
            </div>
            
            <div class="span2">
            <a href="#/info" class="btn large btn-primary" style="text-align: center;width:150px;"><h3> More Info</h3></a>
            </div>
       
    </div>
    <!--<h3>Protect Y</h3>
    <ul data-bind="foreach: features">
        <li data-bind="html: $data"></li>
    </ul>-->
    <div class="row">
       
    </div>
</section>