<section>
    
    <div class="container-fluid">

        <h1>FIGHT MALARIA</h1>

        <div class="grid">
            <div class="row">
                <div class="tile-group no-margin no-padding clearfix">

                   
                    <div class="tile bg-orange ol-transparent">
                        <a href="#/game" style="text-align: center;"><div class="tile-content icon">
                            <span class="icon-trophy"></span>
                        </div>

                        <div class="tile-status">
                            <span class="name" style="font-size:20px">Start Quiz</span>
                        </div>
                    </a>
                </div>
                <div class="tile ol-transparent bg-teal">
                <a href="#/prevention" style="text-align: center;">
                    <div class="tile-content icon">
                        <span class="icon-accessibility"></span>
                    </div>
                    <div class="tile-status">
                        <span class="name" style="font-size:20px">Prevention</span>
                    </div>
                    </a>
                </div>
                 <div class="tile bg-lightBlue ol-transparent">
                        <a href="#/pictures" style="text-align: center;">
                        <div class="tile-content icon">
                            <span class="icon-pictures"></span>
                        </div>
                        <div class="tile-status">
                            <span class="name" style="font-size:20px">Pictures</span>
                        </div>
                        </a>
                    </div>
                <div class="tile ol-transparent bg-green">
                <a href="#/videos" style="text-align: center;">
                    <div class="tile-content icon">
                        <span class="icon-film"></span>
                    </div>
                    <div class="tile-status">
                        <span class="name" style="font-size:20px">Videos</span>
                    </div>
                    </a>
                </div>
                 <div class="tile ol-transparent bg-green">
                 <a href="#/sponsors" style="text-align: center;">
                    <div class="tile-content icon">
                        <span class="icon-thumbs-up"></span>
                    </div>
                    <div class="tile-status">
                        <span class="name" style="font-size:20px">Sponsors</span>
                    </div>
                    </a>
                </div>               
                   
                

         </div>

     </div>
 </div>

</div>

</section>