<div dir="ltr" style="text-align: left;" trbidi="on">


<img alt="How to naturally repel mosquitoes using Garlic?" border="0" src="Content/images/garlic2.jpg" width="300">
<br>

<h4>
Ways to Use Garlic to Repel Mosquitoes Naturally</h4>
<b>1.</b> Eating lots of garlic is the simplest way to repel mosquitoes. It will be also good for health.<br>
<b>2.</b> Make a mixture of garlic juice (one part) and water (five parts) and fill it in a spray bottle. Use this mixture to spray lightly on exposed body parts and keep mosquitoes away up to 5 to 6 hours.<br>
<b>3.</b> Dip cotton cloth strips into garlic juice (one part) and water (five parts) mixture, then hang them in patios, decks or yard.<br>
<b>4. </b>Rub garlic oil or raw garlic juice on your exposed skin to repel mosquitoes and prevent mosquito bites.<br>
<b>5.</b> Consume garlic supplements regularly.<br>
<b>6. </b>Just keep crushed garlic near the window to ward off mosquitoes.<br>
<b>7. </b>Take 4 ounces of garlic bulbs and crush them using a meat tender. Put the crushed garlic into a small dish and add 2 tbsp of mineral oil. Leave this concoction overnight and in the next morning, add it to a pint of water. Fill in a spray bottle and apply to skin.<br>
<b>8.</b> Make a mixture of garlic oil (1 part) and petroleum jelly &amp; beeswax (100 parts). Apply it on the arms and legs to repel mosquitoes for up to 8 hours.<br>
<br>
<b>Warning</b>:<br>
Pregnant or lactating women and people consuming blood thinning medications should avoid garlic supplements.</div>