<section>    
  <div class="container-fluid">
    <div class="grid">
      <a href="#/home" class="button bg-yellow" style="margin-bottom:10px"><h2><i class="icon-arrow-left"></i></h2></a>
      <div class="row text-center">
        <div class="span10">
          
          <img src="Content/images/bigmalmap.jpg" class="img-responsive shadow" width="100%">
          <p></p>
          <img src="Content/images/eaves_ceilings_malaria.jpg" class="img-responsive shadow" width="100%">
          <p></p>
          <img src="Content/images/roofs_walls_malaria.jpg" class="img-responsive shadow" width="100%">
          <p></p>
          <img src="Content/images/prevent.jpg" class="img-responsive shadow" width="100%">
          <p></p>
          <img src="Content/images/malaria_lifecycle.gif" class="img-responsive shadow" width="100%">
        </div>
      </div>
    </div>
  </div>
</section>