<section>    
  <div class="container-fluid">
    <div class="grid">
      <a href="#/home" class="button bg-yellow" style="margin-bottom:10px"><h2><i class="icon-arrow-left"></i></h2></a>
      <div class="row text-center">
        <div class="span8">
          <div class="image-container shadow" style="margin-bottom:10px;margin-left:0px;width:100%">
            <img src="Content/images/mosquito_net.jpg" class="img-responsive shadow">
            <div class="overlay" style="font-size:20px;font-weight:bold">
             Protect Yourself with a mosquito net
           </div>
         </div>

         <div class="image-container shadow" style="margin-bottom:10px;margin-left:0px;width:100%">
          <img src="Content/images/citronella.jpg" class="img-responsive shadow">
          <div class="overlay"  style="font-size:20px;font-weight:bold">
           Use Lemon grass to repell mosquitoes
         </div>
       </div>        

       <div class="image-container shadow" style="margin-bottom:10px;margin-left:0px;width:100%">
        <img src="Content/images/garlic2.jpg" width="100%" class="img-responsive shadow">
        <div class="overlay" style="font-size:20px;font-weight:bold">
         Eat Garlic to repell mosquitoes
       </div>
     </div>  

     <div class="image-container shadow" style="margin-bottom:10px;margin-left:0px;width:100%">
      <img src="Content/images/prevent.jpg" class="img-responsive shadow">     

    </div>  
    <div class="image-container shadow" style="margin-bottom:10px;margin-left:0px;width:100%">
        <img src="Content/images/screens.jpg" width="100%" class="img-responsive shadow">
        <div class="overlay" style="font-size:20px;font-weight:bold">
         Use Window screens
       </div>
     </div>  
    </div>
  </div>
</div>
</div>
</section>