<section>
  <h2 data-bind="html: displayName"></h2>
  <div class="container-fluid">
    <div class="grid">
    <a href="#/home" class="button bg-yellow" style="margin-bottom:10px"><h2><i class="icon-arrow-left"></i></h2></a>
    
      <div class="row text-center">
        <div class="span12">
        
          <img src="Content/images/stomp_logo_horizontal.jpg" class="img-responsive shadow" width="100%">
          <p></p>
          <a href="http://www.coders4africa.com" target="blank">
          <img src="Content/images/c4a.png" class="img-responsive shadow" width="100%">
          </a>
          <p></p>
          <img src="Content/images/usaid.jpg" class="img-responsive shadow" width="100%">
          <p></p>
          <img src="Content/images/swat.png" class="shadow" width="30%" style="float:left">
        </div>
        
      </div>
      
    </div>
  </div>
</section>