<section>
    <h2 data-bind="html:displayName"></h2>
    <blockquote data-bind="html:description"></blockquote>
    <div class="content">
    
    <h1>Main Menu</h1>
    
    <div class="row">
    <div class="span10">
    
    <div id="mainmenu">
        <div class="span2">
        <a href="#/game" id="newsingle" class="btn large primary" style="text-align: center;">New Game</a>
        </div>
        <div class="span2">
        <a href="#/data" class="btn large primary"><img class="icon" src=""> Database</a>
        </div>
        <!--<a href="#" class="btn large primary disabled">Multiplayer</a>
        <a href="#" class="btn large primary">Global Ranking</a>-->
        <div class="span2">
        <a href="#/help" class="btn large primary"><img class="icon" src=""> Help</a>
        </div>
    </div>
    </div>
    <h3>Features</h3>
    <ul data-bind="foreach: features">
        <li data-bind="html: $data"></li>
    </ul>
    <div class="alert alert-success">
      <h4>Read Me Please</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</a>.
    </div>
</section>